// .home-container{
//     display: flex;
//     flex-direction: column-reverse;
//     // align-items: center;
//   }
  

//     .list-company{
//       width: 100%;
//       display: flex;
//       gap: 10px;
//       .items{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: #fff;
//         height: 50px;
//         margin: 0;
//       }
//     }

.list-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px auto 0;
    .v5-list-filters{
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-right: 20px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #c9c9c9;
      height: fit-content;
    }
  }