.flash-sales {
  margin: 20px 0 30px 0;
}
.flash-sales .fls-header {
  display: flex;
  margin-bottom: 20px;
  gap: 8px;
}

.flash-sales .fls-header h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fc521d;
  text-decoration: none;
  padding-top: 15px;
  i{
    margin: 0 -6px 0 -4px;
  }
}
.icon-flash:before {
  content: "F";
}

