.v5-list-items {
    flex-grow: 3;
    h1{
        font-size: 1.5em;
    }
    div p, div b{
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
        background-color: transparent;
        font-style: normal;
        font-variant: normal;
        text-decoration: none;
        vertical-align: baseline;
        white-space: pre;
        white-space: pre-wrap;
    }
}

.v5-grid-items{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 15px;
    .v5-item{
        background: #fff;
        border-radius: 6px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        a.img {
            display: block;
            margin: 0 auto;
        }
        h3 {
            padding: 0;
            margin: 0 0 10px 0;
            font-size: 15px;
            text-align: center;
            a{
                color: var(--blackText);
                font-size: 12px;
                font-weight: 600;
            }
        }
        .price{
            margin-bottom: 12px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            justify-items: stretch;
            strong{
                color: #fd475a;
                line-height: 18px;
                padding-right: 10px;
            }
        }
        .promotion-list{
            display: flex;
            flex-direction: column;
        }
        .promotion-list>div {
            display: flex;
            height: 24px;
            overflow: hidden;
            margin-bottom: 8px;
            label {
                background: #ffdfd4;
                padding: 2px 6px;
                color: #fc521d;
                border-radius: 3px;
                font-weight: 800;
                margin-right: 5px;
                font-size: 11px;
                line-height: 19px;
            }
            span {
                line-height: 24px;
            }
        }
        .promotion-list>div.more {
            text-align: center;
            justify-content: center;
            font-weight: 800;
            color: #fc521d;
            margin-bottom: 0;
        }
    }
}